<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar producto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container vh-100 d-flex justify-content-center align-items-center">

        <div class="col-md-6 col-lg-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-4">

                    <h3 class="text-center mb-4 fw-bold">Editar producto</h3>

                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" name="nombre" class="form-control form-control-lg" value="{{ p.nombre }}"
                                required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Precio</label>
                            <input type="number" name="precio" class="form-control form-control-lg"
                                value="{{ p.precio }}" required>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-warning btn-lg">
                                Actualizar producto
                            </button>
                        </div>

                    </form>

                    <div class="text-center mt-3">
                        <a href="{% url 'lista_productos' %}" class="text-decoration-none">
                            ← Volver al listado
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>